

.home{
    background: white;
    border-radius: 40px;
    padding: 10px 20px;
    min-height: 500px;

    .homeTitle{
        font-size: 26px;
        text-align: center;
        padding: 20px 0;
    }

    .homesubsection{
        border-radius: 20px;
        background: #F0F2F7;
        padding: 10px;
        margin: 5px;
    }

    .homesubtitle{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .card{
        background-color: #004b87;
        width: 100%;
        border-radius: 20px;
        padding: 5px;
        // margin: 5px; 

        .cardTitle{
            color: white;
            font-size: 12px;
            text-align: center;
        }

        .cardItemCount{
            color: white;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
    }
}